/*header*/
.nav {display: flex;justify-content: space-between;background-color:white; height: 50px;position: fixed;width: 100%;}
.nav-ul {display: flex;}
.nav-li {margin-right: 70px; font-size: 20px;margin-top: 10px; color: #121212;}
.box {background-image: url(../images/home-masthead-1.jpg);width:100%;height:550px;}
.title {font-family: 'Parisienne', cursive; font-size: 35px; margin-top: 10px;}
.paragraph {font-size: 20px; margin-bottom: 550px;}
/*section 2*/
.booking {background-image: url(../images/Santa-Caterina-Italy.webp);width: 100%;height:150px ;}
.booking{ display: flex;justify-content: center;align-items: center; margin: 0 auto;margin-top: 50px;}
.input{;  display: flex; justify-content: center;align-items: center;height:100px ;border-color : #E8E8E8 ; color: #CECECE;margin-bottom: 16px;}
.button {width: 150px;height: 50px;  background-color: #ffb5b5; color: white;}
.input_form {height: 50px;width: 300px;}

/*section1*/
.aboutus {width: 1104px;height: 560px;margin: 0 auto;display: flex;margin-top: 40px;;}
.aboutus-text {width: 500px;margin-right:90px;}
.aboutus-title {font-size: 20px;margin-bottom: 20px; color: #5585b5;}
.title2 {font-size: 30px;margin-bottom: 15px;}
.aboutus-paragraph {font-size: 20px;}
.aboutus-img1 {margin-right: 20px;margin-bottom: 20px;}

/* services */
.service {display: flex;width:400px;}
.services {width: 1100px;display: flex;justify-content: space-between; margin: 0 auto ;margin-top: 20px;}
.service1 {display: flex;width: 400px;}
.services-section2  {width: 1100px;display: flex;justify-content:space-between; margin: 0 auto ;}
.text {width: 500px;font-size: 20px; margin-bottom: 30px;}
.title3 { font-size: 20px; color: #5585b5;}
.service-name { margin-top: 10px; margin-bottom: 30px;font-size: 40px;}
.service-icon {font-size: 40px; margin-top: 10px;margin-bottom: 30px;margin-right: 10px;}
.service-title {width: 1100px;margin: 0 auto; margin-top: 70px;}

/* rooms */
.rooms {display: flex;}
.room-text {width: 500px; color: white; font-size: 30px;}
.container {width: 1300px; margin: 0 auto;}
.text-box {width: 600px;height: 600px;background-color:#363636;}


/*footer*/
.footer-wraper {width: 100%;height: 393px;background-color: #121212;display: flex;}
.header5 {color: white;}
.footer-text {color: white; margin-top: 20px;}
.footer-block {max-width: 260px;height: 191px; margin: 90px 200px 114px 140px}
.fa-brands {margin-top: 20px; margin-left: 10px;}
.fa-facebook {color: #3B5998; font-size: 35px;}
.fa-twitter {color: #55ACEE;font-size: 35px;}
.fa-google-plus {color: #DC4E41; font-size: 35px;}

.block {color: white; margin-top: 90px;margin-left: 90px;}
.footer-ul {color: #5863F8 ; }
.footer-li {margin-bottom: 10px ;}



